/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topbar-sidebar-container {
  display: flex;
  flex: 1;
}

.topbar-main-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr; /* Use 'auto' to allow the top bar to adjust its height based on the content */
}

.topbar-test-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.topbar {
  /* Remove fixed height and let it adjust based on the content */
  background-color: #f0f0f0;
  display: flex;
  justify-content: column;
  align-items: center;
  justify-content: space-between;
}

.leftPortion {
  display: flex;
  align-items: center;
  gap: 2%;
}

.middlePortion {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 3%;
}

.sidebar {
  width: 80px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  overflow: auto;
}

/* Add cursor: pointer for clickable icons */
.sidebar img,
.topbar img {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* For screens with a maximum width of 600px */
@media (max-width: 600px) {
  .topbar {
    justify-content: center; /* Center the icons in the top bar */
    height: 50px;
  }
  
  .sidebar {
    width: 50px; /* Reduce the width of the sidebar */
  }
}
